<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.triplan.mapper.PlanMapper">
    <!--일정보기-->
    <select id="getPlanList" resultType="com.site.triplan.vo.PlanVo">
        SELECT p.code, p.title
             , date_format(p.start_dt, '%Y-%m-%d') "start_dt"
             , date_format(p.end_dt, '%Y-%m-%d') "end_dt"
             , p.write_dt, p.views
             , a.code "area_code", a.name "area_name", a.engname "area_engname"
             , u.user_code, u.nickname
             , (SELECT count(*)
                FROM place
                WHERE plan_code = p.code) "place_num"
        FROM plan p
            join area a on a.code = p.area_code
            join user_info u on u.user_code = p.user_code
        WHERE area_code like #{area_code}
    </select>

    <!--지역-->
    <select id="getAreaInfo" resultType="com.site.triplan.vo.AreaVo">
        SELECT code, name, engname, loc_x, loc_y, zoom
        FROM area
        ORDER BY code
    </select>

    <!--일정 작성-->
    <!-- >> id로 회원코드 찾기 -->
    <select id="getUserCodeById" resultType="java.lang.Integer">
        SELECT user_code
        FROM user_info
        WHERE id=#{id}
    </select>
    <!-- >> 일정 INSERT -->
    <insert id="insertPlan">
        INSERT INTO plan (title, start_dt, end_dt, area_code, user_code)
        VALUES (#{title}, #{start_dt}, #{end_dt}, #{area_code}, #{user_code})
    </insert>
    <!-- >> 최대 일정코드 찾기 -->
    <select id="getMaxPlanCode" resultType="java.lang.Integer">
        SELECT max(code)
        FROM plan
    </select>
    <!-- >> 장소 INSERT -->
    <insert id="insertPlace">
        INSERT INTO place (day, order, name, loc_x, loc_y, memo, photo_path, plan_code)
        VALUES (#{day}, #{order}, #{name}, #{loc_x}, #{loc_x}, #{memo}, #{photo_path}, #{plan_code})
    </insert>
</mapper>