<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>TRIPLAN</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
</head>
<body class="page-index">

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="/triplan/main" class="logo d-flex align-items-center">
                <img src="/img/main-logo.png" />
            </a>
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

            <nav id="navbar" class="navbar">
                <ul>
                    <!-- ① 비로그인 -->
                    <li><a href="/triplan/loginform">로그인</a></li>

                    <!-- ② 로그인 -->
                    <!--
                    <li><a href="#" class="active">일정만들기</a></li>
                    <li><a href="#">일정보기</a></li>
                    <li><a href="#">이용방법</a></li>
                    <li class="dropdown">
                        <a href="#"><span>nickname 님</span><i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="#">마이페이지</a></li>
                            <li><a href="#">로그아웃</a></li>
                        </ul>
                    </li>
                     -->
                </ul>
            </nav>
            <!-- .navbar -->
        </div>
    </header>
    <!-- End Header -->

</body>
</html>