<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TRIPLAN_ADMIN</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="/css/admin_styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<!--HEADER-->
{{>admin_bar}}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <ol class="breadcrumb mb-4">
            </ol>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            방문자 현황
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            신규 회원수
                        </div>
                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    미처리신고
                </div>
                <div class="card-body">
                    <table id="datatablesSimple" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>신고내역</th>
                            <th>신고사유</th>
                            <th>접수일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>yh@naver.com</td>
                            <td>[댓글]XXXXXXXXXXXXXXXXXX</td>
                            <td>무단광고</td>
                            <td>2022-10-31</td>
                        </tr>
                        <tr>
                            <td>jy@gmail.com</td>
                            <td>[댓글]XXXXXXXXXXXXXXXXXX</td>
                            <td>욕설/비속어</td>
                            <td>2022-11-01</td>
                        </tr>
                        <tr>
                            <td>jy@naver.com</td>
                            <td>[댓글]XXXXXXXXXXXX</td>
                            <td>이용방해</td>
                            <td>2022-11-03</td>
                        </tr>
                        <tr>
                            <td>sg@gmail.com</td>
                            <td>[게시글]XXXXXXXXXXXXX</td>
                            <td>무단광고</td>
                            <td>2022-11-03</td>
                        </tr>
                        <tr>
                            <td>yh@naver.com</td>
                            <td>[댓글]XXXXXXXXXXXXXXXXXX</td>
                            <td>무단광고</td>
                            <td>2022-11-04</td>
                        </tr>
                        <tr>
                            <td>jy@gmail.com</td>
                            <td>[댓글]XXXXXXXXXXXXXXXXXX</td>
                            <td>욕설/비속어</td>
                            <td>2022-11-05</td>
                        </tr>
                        <tr>
                            <td>jy@naver.com</td>
                            <td>[댓글]XXXXXXXXXXXX</td>
                            <td>이용방해</td>
                            <td>2022-11-07</td>
                        </tr>
                        <tr>
                            <td>sg@gmail.com</td>
                            <td>[게시글]XXXXXXXXXXXXX</td>
                            <td>무단광고</td>
                            <td>2022-11-07</td>
                        </tr><tr>
                            <td>yh@naver.com</td>
                            <td>[댓글]XXXXXXXXXXXXXXXXXX</td>
                            <td>무단광고</td>
                            <td>2022-11-09</td>
                        </tr>
                        <tr>
                            <td>jy@gmail.com</td>
                            <td>[댓글]XXXXXXXXXXXXXXXXXX</td>
                            <td>욕설/비속어</td>
                            <td>2022-11-11</td>
                        </tr>
                        <tr>
                            <td>jy@naver.com</td>
                            <td>[댓글]XXXXXXXXXXXX</td>
                            <td>이용방해</td>
                            <td>2022-11-12</td>
                        </tr>
                        <tr>
                            <td>sg@gmail.com</td>
                            <td>[게시글]XXXXXXXXXXXXX</td>
                            <td>무단광고</td>
                            <td>2022-11-13</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; TRIPLAN 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/admin/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/demo/chart-area-demo.js"></script>
<script src="/demo/chart-bar-demo.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<script>
            $(document).ready(function(){
                $("#datatablesSimple").DataTable({
                    lengthChange: false,
	                searching: true,
                    ordering: true,
	                info: false,
	                paging: true,
	                order: [ [ 3, "asc" ] ]
                });
            }   );
        </script>
<script>
            $(document).ready(function(){
                $("#datatablesSimple2").DataTable({
                    lengthChange: false,
	                searching: true,
                    ordering: true,
	                info: false,
	                paging: true,
	                order: [ [ 3, "asc" ] ]
                });
            }   );
        </script>
        <title>TRIPLAN_ADMIN</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
        <!--HEADER-->
        {{>admin_bar}}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <ol class="breadcrumb mb-4">
                        </ol>
                        <div class="row">
                                        방문자 현황
                                        신규 회원수
                                미처리신고
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>신고내역</th>
                                        <th>신고사유</th>
                                        <th>접수일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>yh@naver.com</td>
                                        <td>[댓글]XXXXXXXXXXXXXXXXXX</td>
                                        <td>무단광고</td>
                                        <td>2022-10-31</td>
                                    </tr>
                                    <tr>
                                        <td>jy@gmail.com</td>
                                        <td>[댓글]XXXXXXXXXXXXXXXXXX</td>
                                        <td>욕설/비속어</td>
                                        <td>2022-11-01</td>
                                    </tr>
                                    <tr>
                                        <td>jy@naver.com</td>
                                        <td>[댓글]XXXXXXXXXXXX</td>
                                        <td>이용방해</td>
                                        <td>2022-11-03</td>
                                    </tr>
                                    <tr>
                                        <td>sg@gmail.com</td>
                                        <td>[게시글]XXXXXXXXXXXXX</td>
                                        <td>무단광고</td>
                                        <td>2022-11-03</td>
                                    </tr>
                                    <tr>
                                        <td>yh@naver.com</td>
                                        <td>[댓글]XXXXXXXXXXXXXXXXXX</td>
                                        <td>무단광고</td>
                                        <td>2022-11-04</td>
                                    </tr>
                                    <tr>
                                        <td>jy@gmail.com</td>
                                        <td>[댓글]XXXXXXXXXXXXXXXXXX</td>
                                        <td>욕설/비속어</td>
                                        <td>2022-11-05</td>
                                    </tr>
                                    <tr>
                                        <td>jy@naver.com</td>
                                        <td>[댓글]XXXXXXXXXXXX</td>
                                        <td>이용방해</td>
                                        <td>2022-11-07</td>
                                    </tr>
                                    <tr>
                                        <td>sg@gmail.com</td>
                                        <td>[게시글]XXXXXXXXXXXXX</td>
                                        <td>무단광고</td>
                                        <td>2022-11-07</td>
                                    </tr><tr>
                                        <td>yh@naver.com</td>
                                        <td>[댓글]XXXXXXXXXXXXXXXXXX</td>
                                        <td>무단광고</td>
                                        <td>2022-11-09</td>
                                    </tr>
                                    <tr>
                                        <td>jy@gmail.com</td>
                                        <td>[댓글]XXXXXXXXXXXXXXXXXX</td>
                                        <td>욕설/비속어</td>
                                        <td>2022-11-11</td>
                                    </tr>
                                    <tr>
                                        <td>jy@naver.com</td>
                                        <td>[댓글]XXXXXXXXXXXX</td>
                                        <td>이용방해</td>
                                        <td>2022-11-12</td>
                                    </tr>
                                    <tr>
                                        <td>sg@gmail.com</td>
                                        <td>[게시글]XXXXXXXXXXXXX</td>
                                        <td>무단광고</td>
                                        <td>2022-11-13</td>
                                    </tr>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; TRIPLAN 2022</div>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#datatablesSimple").DataTable({
                    lengthChange: false,
	                searching: true,
                    ordering: true,
	                info: false,
	                paging: true,
	                order: [ [ 3, "asc" ] ]
                });
            }   );
        </script>
        <script>
            $(document).ready(function(){
                $("#datatablesSimple2").DataTable({
                    lengthChange: false,
	                searching: true,
                    ordering: true,
	                info: false,
	                paging: true,
	                order: [ [ 3, "asc" ] ]
                });
            }   );
        </script>
</body>
</html>
