<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>-->

<script>
<!--    console.log("create1-1");-->
    var weeklytime = [];
    var weeklycount = [];

    $.getJSON("http://localhost:8082/triplan/weeklynewbie", function(data){     // 주간신규회원 json 리스트 받아오기
<!--        alert(data);-->

        $.each(data, function(inx, obj){                                        // weeklytime, weeklycount에 데이터 넣기
            weeklytime.push(obj.date);
            weeklycount.push(obj.cnt);
	    });
        createLineChart();
<!--        console.log("create1-2");-->
    });

    var lineChartData = {                                                       // 차트에 데이터 넣기, 옵션

		labels : weeklytime,

		datasets : [
			{	label : "신규 회원",
                backgroundColor: "rgba(2,117,216,0.2)",
                borderColor: "rgba(2,117,216,1)",
                pointBackgroundColor: "rgba(2,117,216,1)",
                pointBorderColor: "rgba(255,255,255,0.8)",
                pointHoverBackgroundColor: "rgba(2,117,216,1)",
				data : weeklycount
		    }
			        ]
    }

    function createLineChart(){                                                // 차트 생성

	    var ctx = document.getElementById("myLineChart").getContext("2d");

	    LineChartDemo = Chart.Line(ctx,{
		    data : lineChartData,
		    options :{
			    scales : {
				    yAxes : [{
					    ticks :{
						    beginAtZero : true
					    }
				    }]
			    }
		    }
	    })
    }

</script>