<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>TRIPLAN</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/user_styles.css" rel="stylesheet">
<style>
    .navbar a {
        color: rgba(0, 0, 0, 0.7);
        font-weight: 600;
    }
    .navbar a:hover, .navbar a:active, .navbar .active {
        color: #000 !important;
    }
</style>
</head>
<body class="page-blog">
<!-- ======= Header ======= -->
{{>user_header}}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/banner.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center">
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog planlist">
        <div class="search-container">
            <div class="search-box">
                <div class="sidebar ps-lg-4">
                    <div class="sidebar-item search-form">
                        <h3 class="sidebar-title">다른 회원들의 일정을 살펴보세요.</h3>
                        <form action="" class="mt-3">
                            <input type="text" placeholder="도시/장소명을 입력하세요.">
                            <button type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>

            <table id="planlist-table" class="table">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">지역</th>
                    <td>
                        <a class="planlist-option" href="/triplan/planlist"><span class="item">전체</span></a>
                        {{#areaList}}
                            <a class="planlist-option" href="/triplan/planlist?code={{code}}"><span
                                class="item">{{name}}</span></a>
                        {{/areaList}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">기간</th>
                    <td>
                        <a class="planlist-option" href="#!"><span class="item">1-3일</span></a>
                        <a class="planlist-option" href="#!"><span class="item">4-6일</span></a>
                        <a class="planlist-option" href="#!"><span class="item">7-9일</span></a>
                        <a class="planlist-option" href="#!"><span class="item">10일 이상</span></a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">시기</th>
                    </a>
                    <td>
                        <a class="planlist-option" href="#!"><span class="item">봄(3~5월)</span></a>
                        <a class="planlist-option" href="#!"><span class="item">여름(6~8월)</span></a>
                        <a class="planlist-option" href="#!"><span class="item">가을(9~11월)</span></a>
                        <a class="planlist-option" href="#!"><span class="item">겨울(12~2월)</span></a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="container">

            <div class="row g-5">

                <div id="planlist-out-box" class="col-lg-12">

                    <div id="planlist-in-box" class="row gy-5 posts-list">

                        {{#planList}}
                        <div class="col-lg-4">
                            <article class="d-flex flex-column">
                                <div class="post-img">
                                    <a href="/triplan/plandetail?code={{code}}"><img src="/img/main/{{area_engname}}.jpg" alt=""
                                                                       class="img-fluid"></a>
                                </div>

                                <h2 class="title">
                                    <a href="/triplan/plandetail?code={{code}}">{{area_name}}</a><br>
                                    <span class="plan-title">{{title}}</span>
                                </h2>

                                <div class="meta-top">
                                    <ul>
                                        <li class="d-flex align-items-center"><i class="bi bi-person"></i>{{nickname}}</li>
                                        <li class="d-flex align-items-center"><i class="bi bi-geo-alt"></i>{{place_num}}</li>
                                        <li class="d-flex align-items-center"><i class="bi bi-eye"></i>{{views}}</li>
                                    </ul>
                                </div>

                                <div class="content">
                                    <p class="plan-date">
                                        {{start_dt}} ~ {{end_dt}}
                                    </p>
                                </div>

                                <div class="read-more mt-auto align-self-end">
                                    <a href="/triplan/plandetail?code={{code}}">Read More <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </article>
                        </div>
                        {{/planList}}

                    </div><!-- End blog posts list -->

                    <div class="blog-pagination">
                        <ul class="justify-content-center">
                            <li><a href="#!"><i class="bi bi-arrow-left"></i></a></li>
                            <li class="active"><a href="#!">1</a></li>
                            <li><a href="#!">2</a></li>
                            <li><a href="#!">3</a></li>
                            <li><a href="#!">4</a></li>
                            <li><a href="#!">5</a></li>
                            <li><a href="#!"><i class="bi bi-arrow-right"></i></a></li>
                        </ul>
                    </div><!-- End blog pagination -->

                </div>

            </div>

        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
{{>user_footer}}

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/user/main.js"></script>

</body>
</html>