<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>TRIPLAN</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/mypage_style.css" rel="stylesheet">

    <!--부트스트랩 CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

    <style>
.navbar a {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
}
.navbar a:hover, .navbar a:active, .navbar .active {
    color: #000 !important;
}
</style>
</head>
<body class="page-blog">
<!-- ======= Header ======= -->
{{>user_header}}
<main id="main">
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog planlist">
        <div class="container" data-aos="fade-up">
            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="400">
                <div class="sidebar">
                    <div class="top-container">
                        <div class="profilePhotoContainer">
                            <div class="profilePhoto-text" id="profilePhoto">{{firstletterNickname}}</div>
                        </div>
                        <div class="text">{{userprofile.nickname}}</div>
                        <button class="btn-normal" onclick="location.href='/triplan/myprofile'">프로필 수정</button>
                    </div>
                    <div class="row">
                        <div class="index-section">
                            <div class="index-circle" onclick="location.href='/triplan/mypage'">
                                <h6>
                                    <b>나의 일정</b>
                                </h6>
                                <div>
                                    <h4 style="line-height: 1; font-weight: 700" id="myPlan">{{plancount}}</h4>
                                </div>
                            </div>
                            <div class="index-circle" onclick="location.href='/triplan/mypage/reply'">
                                <h6>
                                    <b>나의 댓글</b>
                                </h6>
                                <div>
                                    <h4 style="line-height: 1; font-weight: 700" id="myReply">{{replycount}}</h4>
                                </div>
                            </div>
                            <div class="index-circle" onclick="location.href='/triplan/mypage/like'">
                                <h6>
                                    <b>좋아요한 일정</b>
                                </h6>
                                <div>
                                    <h4 style="line-height: 1; font-weight: 700" id="myLike">{{likecount}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-title-container">
                        <h3 class="sidebar-title"  id="scheduledplanTab" onclick="location.href='/triplan/mypage'">다가올 일정</h3>
                        <h3 class="sidebar-title2"> | </h3>
                        <h3 class="sidebar-title" onclick="location.href='/triplan/mypage/completedplans'">완료된 일정</h3>
                    </div>
                </div>
            </div>
        </div>
        <!--다가오는 일정-->
        <div class="container" data-aos="fade-up" data-aos-delay="400">
            {{#schplanlist}}
                <div class="mt-3">
                    <div class="post-item mt-3">
                        <div class="uk-card uk-card-default uk-grid-collapse uk-grid">
                            <div class="uk-width-1-3">
                                <div class="uk-grid">
                                    <div class="region info-container">
                                        <img src="/img/main/{{area_engname}}.jpg" class="flex-shrink-0">
                                    </div>
                                    <div class="uk-width-1-2 info-container">
                                        <div class="travel-region-engname">{{area_engname}}</div>
                                        <div class="travel-region">{{name}}</div>
                                        <div class="user-id">{{id}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-2-3">
                                <div class="uk-grid height-3-5">
                                    <div class="trip-info">
                                        <div class="uk-grid row-1-2">
                                            <div class="trip-info-left">
                                                <div class="small-title">
                                                    여행제목
                                                    <div class="uk-inline">
                                                        <input type="hidden" id="title-edit-code" value="{{code}}" />
                                                        <input class="trip-title small-text" type="text" id="updateTravelName" value="{{title}}">
                                                        <a class="updateTitle-icon" data-code='{{code}}'><i class="bi bi-pencil-square"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="trip-info-right">
                                                <div class="small-title">
                                                    작성일자
                                                    <span class="small-text" style="line-height: 40px;">{{write_dt}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-grid row-1-2">
                                            <div class="trip-info-left">
                                                <div class="small-title">
                                                    여행일자
                                                    <span class="small-text">{{start_dt}} - {{end_dt}}</span>
                                                </div>
                                            </div>
                                            <div class="trip-info-right">
                                                <div class="small-title">
                                                    선택장소
                                                    <span class="small-text">{{place_num}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-grid height-2-5">
                                    <div>
                                        <div class="uk-grid">
                                            <div class="bottom-btn">
                                                <div class="three-btn">
                                                    <button class="threeplan-btn-first" id="modifyPlanBtn" onclick="location.href='/triplan/plandetail?code={{code}}'">
                                                        일정 보기
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="bottom-btn">
                                                <div class="three-btn">
                                                    <button class="threeplan-btn mateAddBtn" data-code='{{code}}' data-bs-toggle="modal" data-bs-target="#matemodal">
                                                        동행자 추가
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="bottom-btn">
                                                <div class="three-btn">
                                                    <button class="threeplan-btn deleteSavedBtn" data-code='{{code}}'>
                                                        일정 삭제
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/schplanlist}}

            <div class="blog-pagination">
                <ul class="justify-content-center">
                    <li><a href="#!"><i class="bi bi-arrow-left"></i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li><a href="#!">2</a></li>
                    <li><a href="#!">3</a></li>
                    <li><a href="#!">4</a></li>
                    <li><a href="#!">5</a></li>
                    <li><a href="#!"><i class="bi bi-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>

    </section><!-- End Blog Section -->

    <!-- Modal -->
    <div class="modal fade" id="matemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">동행자 추가</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            여행을 함께 하고 싶은 다른 사용자의 이메일을 입력하세요.
                        </div>
                        <div class="mb-3">
                            <label for="id" class="col-form-label">ex) cope@triplan.com </label>
                            <input type="email" class="form-control mate-email" placeholder="이메일 입력" required/>
                        </div>
                        <div class="mb-3">
                            <div id="user_info">
                                <div id="user_detail">
                                    <div id="user_nickname" class="mate-nickname"></div>
                                    <div id="user_id" class="mate-id"></div>
                                    <button type="button" class="btn btn-secondary mate-add" id="mate-addBtn" style="display: none">추가</button>
                                    <div id="user_code" class="mate-user_code" style="display: none"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mate-search" id="searchbtn">검색</button>
                </div>
            </div>
        </div>
    </div>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
{{>user_footer}}

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<script	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/user/main.js"></script>
<script src="/js/mypage/mypage.js"></script>

</body>
</html>