<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>TRIPLAN</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/user_styles.css" rel="stylesheet">
</head>
<body class="page-index">
    <!-- ======= Header ======= -->
    {{>user_header}}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div id="main-box" class="col-xl-4">
                    <h4 id="logo-ment">나만의 여행 플래너</h4>
                    <h2 id="plain-logo">TRIPLAN</h2>
                    <div id="startbutton" class="d-flex">
                        <a href="#start">시작하기</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->


    <main id="main">
        <a id="start"></a>

        <section id="recent-posts" class="recent-posts">
            <div id="main-container" class="main-title-box container">
                <div class="section-header">
                    <h2 id="title">어디로 여행을 떠나시나요?</h2>
                    <h4 id="ment">여행지를 선택하여 추천 여행코스를 보세요.</h4>
                </div>

                <div class="row gy-5">
                    {{#areaList}}
                    <div class="col-xl-3 col-md-6">
                        <a href="/triplan/planlist?code={{code}}">
                            <div class="post-box">
                                <div class="post-img"><img src="/img/main/{{engname}}.jpg" id="main-area-img" class="img-fluid" alt=""></div>
                                <h3 class="post-title">{{engname}}</h3>
                                <p>{{name}}</p>
                            </div>
                        </a>
                    </div>
                    {{/areaList}}
                </div>

            </div>
        </section><!-- End Recent Blog Posts Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    {{>user_footer}}

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/aos/aos.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/user/main.js"></script>

</body>
</html>